.sectionName{
  display: flex;
  height: 3rem;
  padding: 0 1rem;
  background: #0e0e0e;
  margin: 1rem 0;
  align-items: center;
}
.sectionName  h2{
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
}
.categoriesContainer{
  display:grid;
  height: calc(100vh - 10rem);
  width: 100%; 
  padding: 0 1rem;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}
.categoriesContainer > div{
  position: relative;
  overflow: hidden;
  border: 3px solid #0e0e0e;
  border-radius: 0.5rem 2rem 0.5rem 2rem;
}

.categoriesContainer > div > div {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.2rem 0.5rem;
  border-top: 3px solid #0e0e0e;
  border-left: 3px solid #0e0e0e;
  border-radius: 1rem 0 0 0;
}
.categoriesContainer>div>div>span {
  font-weight: 700;
  font-size: 1.1rem;
}